---
import Layout from '@layouts/Layout.astro';
import Loading from '@components/Loading.astro';
import Header from '@components/Header.astro';
import Profile from '@components/Profile.astro';
import Repositories from '@components/Repositories.astro';
import GitHubLink from "@components/GitHubLink.astro";
import ActivityChart from '@components/ActivityChart.astro';
---

<Layout title="Paolo's personal site">
  <Header />
  <main>
    <Profile />
    <ActivityChart />
  </main>
  <article id="content">
    <h2>Some of my projects</h2>
    <Repositories />
  </article>
  <footer>
    <Loading width={90} />
    <section>
      <p>This page is pretty much work in progress!</p>
      <span><GitHubLink />&nbsp;· Paolo Flores</span>
    </section>
  </footer>
</Layout>

<style lang="scss">
  body {
    margin: 0 auto;
    background-color: var(--bg-color);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 100ch;
    padding: 3rem 1.5rem;
  }

  #content {
    border-top: 1px solid var(--divisor-color);
    border-bottom: 1px solid var(--divisor-color);
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    padding: 0 1.5rem;

    h2 {
      font-size: 1.4rem;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;

    section {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      p {
        margin-bottom: 4px;
      }

      span {
        display: flex;
        align-items: center;
        font-size: 0.84rem;
      }
    }
  }
</style>
