---
---

<ul>
  <li>Blog 1</li>
</ul>

<style lang="scss">
  .repo {
    margin-bottom: 1.5rem;

    a, a:visited {
      display: inline-block;
      font-size: 1.1rem;
    }

    p {
      margin: 0.5rem 0 0.55rem 0;
    }

    span.lang-tag {
      display: inline-block;
      background-color: #dddddd;
      padding: 2px 7px;
      font-size: 12px;
      border-radius: 4px;
      margin-right: 6px;
    }
  }

  :root.dark {
    span.lang-tag {
      background-color: #333;
      color: #e5e3e0;
    }
  }
</style>
