---
import githubLogo from "@assets/github_logo.svg?raw";
---

<span>
  <Fragment set:html={githubLogo} />
  <div style="margin-right: 6px"></div>
  <a href="https://github.com/paoloose" target="_blank">@paoloose</a>
</span>

<style lang="scss">
  span {
    display: inline-flex;
    align-items: center;
    font-size: 0.85rem;
    line-height: 2;

    img {
      margin-right: 4px;
    }
  }
</style>

<style lang="scss" is:global>
  :root.dark {
    #github_logo__color {
      fill: #e5e3e0;
    }
  }
</style>
