---
import themSwitcherLogo from '@assets/theme_switch.svg?raw';

---
<header>
  <a href="/" target="_self"><h3>@paoloose</h3></a>
  <div style="flex: 1"></div>
  <button id="theme-switcher">
    <Fragment set:html={themSwitcherLogo} />
  </button>

</header>

<script>
  const switcher = document.getElementById('theme-switcher');

  switcher.addEventListener('click', () => {
    const isDark = document.documentElement.classList.toggle('dark');
    window.localStorage.setItem('theme', isDark ? 'dark' : 'light');
  });
</script>

<style lang="scss">
  header {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    border-bottom: 1px solid var(--divisor-color);
    padding: 0 2.5rem;

    h3 {
      margin: 0;
      padding: 0;
      font-weight: 200;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 840px) {
    header {
      padding: 0 1.5rem;
    }
  }
</style>

<style lang="scss" is:global>
  :root.dark {
    #theme_switcher__color {
      fill : #e5e3e0;
    }
  }
</style>
