---
import profile from '@assets/images/image.png';
import { Image } from 'astro:assets';
import GitHubLink from "@components/GitHubLink.astro";
---

<section>
  <Image id="pfp" src={profile} alt="@paoloose profile picture" width={250} />
  <div id="profile">
    <h1>Paolo Flores</h1>
    <div id="description">
      <p>Software Engineering student</p>
      <p>I love doing backend, frontend, graphics and computer science stuff</p>
    </div>
    <div id="github">
      <GitHubLink />
    </div>
  </div>
</section>

<style lang="scss">
  section {
    display: flex;
    align-items: center;

    #pfp {
      margin-right: 1.5rem;
      border-radius: 3px;
      // border-radius: 50%;
    }

    #profile {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0px 0 6px 0;
      }

      #description p {
        margin: 0px 0px 8px 0px;
        font-size: 1rem;

        &:first-child {
          color: var(--font-color-secondary);
        }
      }

    }
  }

  @media screen and (max-width: 480px) {
    section {
      flex-direction: column;
    }
  }
</style>
