---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline defer>
      const theme = window.localStorage.getItem('theme');
      document.documentElement.classList.add(theme || 'dark');
    </script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Paolo's personal site"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="http://ghchart.rshah.org/paoloose" as="image" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  :root{
    --header-height: 3rem;
    color-scheme: only light;

    --bg-color: #fff;
    --divisor-color: #d6d6d6;
    --font-color-primary: #000000;
    --font-color-secondary: #635d5d;
  }

  :root.dark {
    color-scheme: only dark;

    --bg-color: #141414;
    --divisor-color: #3a3f41;
    --font-color-primary: #e5e3e0;
    --font-color-secondary: #a9a196;
  }

  html {
    font-size: 1.1rem;
    font-family: serif;
    scrollbar-gutter: stable;
    color: var(--font-color-primary);
  }

  * {
    box-sizing: border-box;
  }

  a, a:visited {
    color: unset;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
